td{
  background-color:#930000;
  border:solid thin black;
  border-radius:50%;
  border-width: 4px;
  width:5ex;
  height:5ex;
  margin:1ex;
  font-size:300%;
  text-align:center;
  cursor:pointer;
}

.scoreBoard
{
  list-style-type: none;
  margin: 10px 10px 0px 10px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  float: left;
  padding-top: 10px;
  padding-right: 16px;
}

td:hover ,td:focus
{
  background-color: #ff0000;
}

#gameBorder
{
  background-color:#606060;
  border:solid thin black;
  padding: 10px;
  border-width: 6px;
  border-radius:5px;
  display:block;
  float:left;
}

table{
  border-spacing:2ex;
}
td div{
  display:none;
}
td.picked div, td.done div{
  display:block;
}
td.done{
  opacity:0.6;
}